<html>
  <head>
    <title>Todo App</title> 
  </head>
  <body>
    <!-- Form to get user input-->
    <!-- <form method="post" action="/todos/create">
      <input type="text" name="description" />
      <input type="submit" value="Create" />
    </form> -->

     <!-- Unordered list to render data read from the database-->
     <!-- <ul >
        {% for d in data %}
        <li>{{ d.description }}</li>
        {% endfor %}
      </ul> -->

    <!-- Form to get user  and send by fetch-->
    <form id="form">
      <input type="text" id="description" name="description" />
      <input type="submit" value="Create" />
    </form>

    <!-- Unordered list to render data read from the database-->
    <ul id="todos">
      {% for d in data %}
      <li>{{ d.description }}</li>
      {% endfor %}
    </ul>
    <!-- AJAX to send data to flask-->
    <script>
      document.getElementById('form').onsubmit = function(e) {
        e.preventDefault();
        fetch('/todos/create', {
          method: 'POST',
          body: JSON.stringify({
            'description': document.getElementById('description').value
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(jsonResponse) {
          console.log(jsonResponse);
          const liItem = document.createElement('LI');
          liItem.innerHTML = jsonResponse['description'];
          document.getElementById('todos').appendChild(liItem);
        });
      }
    
    </script>
  </body>
</html>