<html>
  <head>
    <title>Todo App</title>
    <style>
      .hidden {
        display: none;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 200px;
      }
    </style>
  </head>
  <body>
    <!-- Form to get user input-->
    <!-- <form method="post" action="/todos/create">
      <input type="text" name="description" />
      <input type="submit" value="Create" />
    </form> -->

     <!-- Unordered list to render data read from the database-->
     <!-- <ul >
        {% for d in data %}
        <li>{{ d.description }}</li>
        {% endfor %}
      </ul> -->

    <!-- Form to get user  and send by fetch-->
    <form id="form">
      <input type="text" id="description" name="description" />
      <input type="submit" value="Create" />
    </form>
    <div id="error" class="hidden">Something went wrong</div>
    
    <!-- Unordered list to render data read from the database-->
    <ul id="todos">
      {% for d in data %}
      <li>
        <input class="check-completed" 
               data-id="{{ d.id }}"
               type="checkbox"
               {% if d.completed %} checked {% endif %} 
        />
        {{ d.description }}
      </li>
      {% endfor %}
    </ul>
    
    <script>
      // Send update request when check box is checked or unchecked
      const checkboxes = document.querySelectorAll('.check-completed');
      for (let i = 0; i < checkboxes.length; i++) {
        const checkbox = checkboxes[i];
        checkbox.onchange = function (e) {
          const newCompleted = e.target.checked;
          const todoId = e.target.dataset['id'];
          fetch('/todos/' + todoId + '/set-completed', {
            method: 'POST',
            body: JSON.stringify({
              'completed': newCompleted
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          })
        }
      }

      // AJAX to send data to flask
      document.getElementById('form').onsubmit = function(e) {
        e.preventDefault();
        fetch('/todos/create', {
          method: 'POST',
          body: JSON.stringify({
            'description': document.getElementById('description').value
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(jsonResponse) {
          const liItem = document.createElement('li');
          const checkbox = document.createElement('input');
          checkbox.className = 'check-completed';
          checkbox.type = 'checkbox';
          checkbox.setAttribute('data-id', jsonResponse.id);
          liItem.appendChild(checkbox);
          const text = document.createTextNode(' ' + jsonResponse.description);
          liItem.appendChild(text);
          document.getElementById('todos').appendChild(liItem);
          document.getElementById('error').className = 'hidden';
        })
        .catch(function() {
          document.getElementById('error').className = '';
        })
      }
    
    </script>
  </body>
</html>